
 {% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE HTML>
<html>
<head>

<link rel="stylesheet" type="text/css" href="{% static 'styles/c.css' %}">


<title>Password Reset Complete</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css2/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css2/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<script src="{% static 'js2/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js2/modernizr.custom.js' %}"></script>
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="{% static 'css2/animate.css' %}" rel="stylesheet" type="text/css" media="all">
<script src="{% static 'js2/wow.min.js' %}"></script>
<script>new WOW().init();</script>
<script src="{% static 'js2/metisMenu.min.js' %}"></script>
<script src="{% static 'js2/custom.js' %}"></script>
<link href="{% static 'css2/custom.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'styles/listings_responsive.css' %}">
<link rel="shortcut icon" href="{% static 'images/icons/logo4.png' %}"  />
</head>

  <div class="alert alert-info">An email has been sent with instruction to reset your password.
        If they haven't arrived in a few minutes, check your spam folder.</div><br/>

<script src="{% static 'js2/classie.js' %}"></script>
<script src="{% static 'js2/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js2/scripts.js' %}"></script>
<script src="{% static 'js2/bootstrap.js' %}"> </script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/listings_custom.js' %}"></script>

</body>
</html>