<!DOCTYPE HTML>
{% load static %}
{% load humanize %}
{% static "images" as baseUrl %}
<html>
<head>
<title>{{request.user}} -  Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Novus Admin Panel Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="{% static 'css2/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="{% static 'css2/style.css' %}" rel='stylesheet' type='text/css' />
<!-- font CSS -->


  <link href="{% static 'css1/style.css' %}" rel="stylesheet">
  <link href="{% static 'css1/style-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />



<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome icons -->
 <!-- js-->
<script src="{% static 'js2/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js2/modernizr.custom.js' %}"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!--animate-->
<link href="{% static 'css2/animate.css' %}" rel="stylesheet" type="text/css" media="all">
<script src="{% static 'js2/wow.min.js' %}"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="{% static 'js2/metisMenu.min.js' %}"></script>
<script src="{% static 'js2/custom.js' %}"></script>
<link href="{% static 'css2/custom.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">



<!--link href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css"-->






<link rel="stylesheet" type="text/css" href="{% static 'styles/listings_responsive.css' %}">
<link rel="shortcut icon" href="{% static 'images/icons/logo4.png' %}"  />
<!--//Metis Menu -->
</head>
<div class="super_container">

	<!-- Home -->
	<div class="home">
		<!-- Image by: https://unsplash.com/@jbriscoe -->
		<div class="home_background" style="background-image:url({% static 'images/download2.jpeg' %})"></div>

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="home_title">
							<h2>
								dashboard
							</h2>
						</div>
						<div class="breadcrumbs">
							<!--span><a href="/">Home</a></span>
							<span><a href="post">Post</a></span>
							<span><a href="logout"> Logout</a></span-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Header -->

	<header class="header trans_300">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_container d-flex flex-row align-items-center trans_300">

						<!-- Logo -->

						<div class="logo_container">
							<a href="/">
								<div class="logo">
									<img src="{% static 'images/icons/logo3.png' %}" alt="">
									<!--span>shelttry</span-->
								</div><br/>
							</a>
						</div>



						<!-- Main Navigation -->

						<nav class="main_nav">
							<ul class="main_nav_list">
								<li class="main_nav_item"><a href="/">home</a></li>
								<li class="main_nav_item"><a href="post">post</a></li>
								<li class="main_nav_item"><a href="logout">logout</a></li>
								<!--li class="main_nav_item"><a href="register">Register</a></li>
								<li class="main_nav_item"><a href="accounts/login">Login</a></li-->
							</ul>
						</nav>

						<!-- Phone Home -->

						<!--div class="phone_home text-center">
							<span>+0080 234 567 84441</span>
						</div-->

						<!-- Hamburger -->

						<div class="hamburger_container menu_mm">
							<div class="hamburger menu_mm">
								<i class="fas fa-bars trans_200 menu_mm"></i>
							</div><br/>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Menu -->

		<div class="menu menu_mm">
			<ul class="menu_list">
				<li class="menu_item">
					<div class="container">
						<div class="row">
							<div class="col">
								<a href="/">home</a>
							</div>
						</div>
					</div>
				</li>
				<li class="menu_item">
					<div class="container">
						<div class="row">
							<div class="col">
								<a href="post"> Post</a>
							</div>
						</div>
					</div>
				</li>
				<li class="menu_item">
					<div class="container">
						<div class="row">
							<div class="col">
								<a href="{% url 'logoutuser' %}">Logout</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</header>
		<!-- //header-ends -->


		<section id="main-content">
      <section class="wrapper">
        <!-- row -->
        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> Uploads </h4>
                <hr>
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i> Hall</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i> Type</th>
                    <th><i class="fa fa-bookmark"></i> Price</th>
                    <th><i class=" fa fa-edit"></i> Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
						{% for list in list reversed %}
                  <tr>
					  <td><h5><a  style="color: black;" href="{% url 'detail' list.slug %}"> {{list.hallname}} </a></h5></td>
					  <td class="hidden-phone"><h5>{{list.type}}</h5></td>
					  <td><h5>₦{{list.price|intcomma}}</h5> </td>{% if list.availability == 'Available' %}
					<td><h5><span class="label-mini label label-success" id="test">{{list.availability}}</span></h5></td>
					{% else %}
					<td><h5><span class="label-mini label label-info" id="test">{{list.availability}}</span></h5></td>
					{% endif %}
                    <td>
						<a href="edit/{{list.id}}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i>&nbsp;Edit</button></a>&nbsp;&nbsp;
						<a href="delete/{{list.id}}"><button class="btn btn-danger btn-xs" id="del"><i class="fa fa-trash-o "></i>&nbsp;Delete</button></a>
                    </td>
                  </tr>
						{% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- /row -->
      </section>
    </section><br/><br/>

<!--footer-->
		<div class="footer"><br/>
		   <h4><p>&copy; <script>document.write(new Date().getFullYear());</script> Shelttry Admin Panel. All Rights Reserved</p></h4>
		</div>
        <!--//footer-->
	</div>
	<!-- Classie -->
		<script src="{% static 'js2/classie.js' %}"></script>

	<!--scrolling js-->
	<script src="{% static 'js2/jquery.nicescroll.js' %}"></script>
	<script src="{% static 'js2/scripts.js' %}"></script>
	<!--//scrolling js-->

	<!-- Bootstrap Core JavaScript -->
	<script src="{% static 'js2/bootstrap.js' %}"> </script>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/listings_custom.js' %}"></script>

</body>
</html>